apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: prom-mcp
  name: prom-mcp
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: prom-mcp
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: prom-mcp
    spec:
      containers:
      - env:
        - name: PROMETHEUS_URL
          value: http://tqc.openshift-monitoring.svc.cluster.local:9090
        - name: PROMETHEUS_MCP_SERVER_TRANSPORT
          value: http
        image: ghcr.io/pab1it0/prometheus-mcp-server:latest
        imagePullPolicy: Always
        name: prometheus-mcp-server
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30